/* body */

@font-face {
    font-family: pixel;
    src: url('./assets/pixel.ttf');
}

body{
    margin: 0;
    background-color:#93c47d;
    font-family: pixel;
}


/* header */


.header{
    background-color:#38761d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}


.header-img{
    height: 50px;
}



/* screen */

.screen-container{
    width: 260px;
    height: 60px;
    border: 3px solid #38761d;
    margin-top: 100px;
    margin-left: 620px;
    background-color: white;
    color: #38761d;
    box-shadow: 8px 8px 0px #38761d; 
    padding-left: 10px;

    
}


.currentDisplay {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    color: green;
    font-size: 25px;
    height: 24.8px;

}   


.previousDisplay {

    display: flex;
    flex-direction: column;
    width: 100px;
    height: 20px;
    margin-top: -48px;
    color: black;
    color: green;
    
}



/* buttons */

.all-buttons{
    margin-left: 620px;
    margin-right: 651px;
    margin-top: 10px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}


button{
    width: 60px;
    height: 50px; 
    border: 2px solid #38761d;  
    box-shadow: 8px 8px 0px #38761d; 
    font-family: pixel;
    font-weight: 800;
    color: #38761d;
}

.additional-buttons,
.sevenEightNine-container,
.fourFiveSix-container,
.oneTwoThree-container,
.misc{
    width: 300px;
}

.back-button,
.equal-to{
    width: 133px;
}


button:hover {
    background-color: lavender;
}


#equal-to,
#back-button{
    width: 90px;
}


/* message */

.note{
    border: 2px solid #38761d;
    box-shadow: 8px 8px 0px #38761d; 
    margin-top: 30px;
    width: 500px;
    padding: 10px;
    margin-left: -125px;
    color: green;
}


.quick-find{
    margin-left: 8px;
}
